   {% for child in children %}
        {% if child.count > 0 %}
           <h3> {{ child.vars.name }} </h3>
           {{ include ('DevBieresCommandBundle:Command:Form.Fields.html.twig', { 'children': child.children }) }}
        {% else %}
           {{ include ('DevBieresCommandBundle:Command:Form.Field.html.twig', { 'child': child }) }}
        {% endif %}
   {% endfor %}
